## Data Cleaning
1. Imputation of missing values i.e. -999
    * __Continuous variables (28)__: __Imputed with the median value of all counties (<font color = 'red'>NOT the median value of each county</font>)__
        * 'E_PCI', 'M_PCI', 'MP_POV', 'MP_UNEMP', 'EP_PCI', 'MP_PCI', 'MP_NOHSDP', 
        * 'MP_AGE65', 'MP_AGE17', 'MP_DISABL', 'MP_SNGPNT', 'MP_MINRTY', 'MP_LIMENG', 'MP_MUNIT', 
        * 'MP_MOBILE', 'MP_CROWD', 'MP_NOVEH', 'MP_GROUPQ', 'EPL_PCI', 'SPL_THEME1', 'RPL_THEME1', 
        * 'RPL_THEME2', 'RPL_THEME3', 'RPL_THEME4', 'SPL_THEMES', 'RPL_THEMES', 'MP_UNINSUR', 'E_DAYPOP'
    * __Categorical variables (6): Imputed with 0__
        * 'F_PCI', 'F_THEME1', 'F_THEME2', 'F_THEME3', 'F_THEME4', 'F_TOTAL'
2. The original dataset is filtered by `ST_ABBR == 'NC'`, creating a new/sub dataset `svi_nc`
3. Change working directory for your coding

In [1]:
# Load libraries

import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import plotly.express as px
import seaborn as sns

In [2]:
# Define working directory
os.chdir('C:/Users/james/OneDrive/Desktop/Coding/Jupyter Notebook/cdc_datasets/social science')

In [3]:
# Import original data (csv file)
svi = pd.read_csv('svi.csv')

# Read in data
svi.head()

,FID,AFFGEOID,TRACTCE,ST,STATE,ST_ABBR,STCNTY,COUNTY,FIPS,LOCATION,...,F_GROUPQ,F_THEME4,F_TOTAL,E_UNINSUR,M_UNINSUR,EP_UNINSUR,MP_UNINSUR,E_DAYPOP,SHAPE_Length,SHAPE_Area
0,1,1400000US36065023400,23400,36,New York,NY,36065,Oneida,36065023400,"Census Tract 234, Oneida County, New York",...,1,1,2,154,125,3.6,2.9,10017,0.176164,0.000699
1,2,1400000US36065023501,23501,36,New York,NY,36065,Oneida,36065023501,"Census Tract 235.01, Oneida County, New York",...,0,0,1,151,100,6.3,4.2,912,0.084156,0.000334
2,3,1400000US36065023502,23502,36,New York,NY,36065,Oneida,36065023502,"Census Tract 235.02, Oneida County, New York",...,0,0,0,131,85,2.9,1.8,3057,0.357314,0.002552
3,4,1400000US36065023702,23702,36,New York,NY,36065,Oneida,36065023702,"Census Tract 237.02, Oneida County, New York",...,0,0,0,385,136,10.2,3.6,1407,0.464853,0.009988
4,5,1400000US36065023901,23901,36,New York,NY,36065,Oneida,36065023901,"Census Tract 239.01, Oneida County, New York",...,0,0,0,165,97,7.2,4.3,1646,0.154148,0.000664

In [4]:
# Check null values, data type, and unique values in each column

null = svi.isnull().sum().to_frame(name='nulls').T
dtype = svi.dtypes.to_frame(name='dtypes').T
nunique = svi.nunique().to_frame(name='unique').T
pd.concat([null, dtype, nunique], axis=0)

,FID,AFFGEOID,TRACTCE,ST,STATE,ST_ABBR,STCNTY,COUNTY,FIPS,LOCATION,...,F_GROUPQ,F_THEME4,F_TOTAL,E_UNINSUR,M_UNINSUR,EP_UNINSUR,MP_UNINSUR,E_DAYPOP,SHAPE_Length,SHAPE_Area
nulls,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
dtypes,int64,object,int64,int64,object,object,int64,object,int64,object,...,int64,int64,int64,int64,int64,float64,float64,int64,float64,float64
unique,72842,72842,23798,51,51,51,3142,1850,72842,72842,...,2,6,15,2943,954,593,329,12598,72842,72842

In [5]:
# Filter original dataset by NC

svi_nc = svi.loc[svi['ST_ABBR'] == 'NC']
svi_nc.head()

,FID,AFFGEOID,TRACTCE,ST,STATE,ST_ABBR,STCNTY,COUNTY,FIPS,LOCATION,...,F_GROUPQ,F_THEME4,F_TOTAL,E_UNINSUR,M_UNINSUR,EP_UNINSUR,MP_UNINSUR,E_DAYPOP,SHAPE_Length,SHAPE_Area
2143,2144,1400000US37001020100,20100,37,North Carolina,NC,37001,Alamance,37001020100,"Census Tract 201, Alamance County, North Carolina",...,0,0,0,743,233,18.2,5.5,9620,0.102686,0.000455
2144,2145,1400000US37001020200,20200,37,North Carolina,NC,37001,Alamance,37001020200,"Census Tract 202, Alamance County, North Carolina",...,0,0,3,998,301,25.9,6.8,2539,0.084323,0.000345
2145,2146,1400000US37001020300,20300,37,North Carolina,NC,37001,Alamance,37001020300,"Census Tract 203, Alamance County, North Carolina",...,1,1,3,1964,541,26.7,6.8,8557,0.157008,0.001138
2146,2147,1400000US37001020400,20400,37,North Carolina,NC,37001,Alamance,37001020400,"Census Tract 204, Alamance County, North Carolina",...,0,0,1,1378,332,22.9,5.0,3369,0.181559,0.001188
2147,2148,1400000US37001020501,20501,37,North Carolina,NC,37001,Alamance,37001020501,"Census Tract 205.01, Alamance County, North Ca...",...,0,0,0,662,215,17.5,5.6,1792,0.137977,0.000720

In [6]:
# Get column names containing missing values -999
svi_nc.columns[svi_nc.isin([-999]).any()]

Index(['E_PCI', 'M_PCI', 'MP_POV', 'MP_UNEMP', 'EP_PCI', 'MP_PCI', 'MP_NOHSDP',
       'MP_AGE65', 'MP_AGE17', 'MP_DISABL', 'MP_SNGPNT', 'MP_MINRTY',
       'MP_LIMENG', 'MP_MUNIT', 'MP_MOBILE', 'MP_CROWD', 'MP_NOVEH',
       'MP_GROUPQ', 'EPL_PCI', 'SPL_THEME1', 'RPL_THEME1', 'RPL_THEME2',
       'RPL_THEME3', 'RPL_THEME4', 'SPL_THEMES', 'RPL_THEMES', 'F_PCI',
       'F_THEME1', 'F_THEME2', 'F_THEME3', 'F_THEME4', 'F_TOTAL', 'MP_UNINSUR',
       'E_DAYPOP'],
      dtype='object')

In [7]:
# Create a data frame with only columns that contain -999

svi_nc_m = svi_nc.loc[:, ['E_PCI', 'M_PCI', 'MP_POV', 'MP_UNEMP', 'EP_PCI', 'MP_PCI', 'MP_NOHSDP',
       'MP_AGE65', 'MP_AGE17', 'MP_DISABL', 'MP_SNGPNT', 'MP_MINRTY',
       'MP_LIMENG', 'MP_MUNIT', 'MP_MOBILE', 'MP_CROWD', 'MP_NOVEH',
       'MP_GROUPQ', 'EPL_PCI', 'SPL_THEME1', 'RPL_THEME1', 'RPL_THEME2',
       'RPL_THEME3', 'RPL_THEME4', 'SPL_THEMES', 'RPL_THEMES', 'F_PCI',
       'F_THEME1', 'F_THEME2', 'F_THEME3', 'F_THEME4', 'F_TOTAL', 'MP_UNINSUR',
       'E_DAYPOP']]

In [8]:
# Create a list containing number of missing values in each column

lst_col = []
lst_miss = []

for i in range(len(svi_nc_m.columns)):
    
    col_name = [svi_nc_m.columns[i]]
    num_miss = [len(svi_nc_m[svi_nc_m[svi_nc_m.columns[i]] == -999])]
    
    for col in col_name:
        lst_col.append(col)
        
    for num in num_miss:
        lst_miss.append(num)
        
print(lst_col)
print(lst_miss)

['E_PCI', 'M_PCI', 'MP_POV', 'MP_UNEMP', 'EP_PCI', 'MP_PCI', 'MP_NOHSDP', 'MP_AGE65', 'MP_AGE17', 'MP_DISABL', 'MP_SNGPNT', 'MP_MINRTY', 'MP_LIMENG', 'MP_MUNIT', 'MP_MOBILE', 'MP_CROWD', 'MP_NOVEH', 'MP_GROUPQ', 'EPL_PCI', 'SPL_THEME1', 'RPL_THEME1', 'RPL_THEME2', 'RPL_THEME3', 'RPL_THEME4', 'SPL_THEMES', 'RPL_THEMES', 'F_PCI', 'F_THEME1', 'F_THEME2', 'F_THEME3', 'F_THEME4', 'F_TOTAL', 'MP_UNINSUR', 'E_DAYPOP']
[21, 21, 28, 26, 21, 21, 21, 20, 20, 27, 28, 20, 20, 26, 26, 28, 28, 20, 21, 21, 21, 20, 20, 20, 21, 21, 21, 21, 20, 20, 20, 21, 27, 3]

In [9]:
# Create a data frame that contains column name and its number of missing values

df_col = pd.DataFrame(lst_col, columns = ['col_name'])
df_num = pd.DataFrame(lst_miss, columns = ['miss_count'])

df_miss = pd.concat([df_col, df_num], axis = 1, join = 'inner')
df_miss

      col_name  miss_count
0        E_PCI          21
1        M_PCI          21
2       MP_POV          28
3     MP_UNEMP          26
4       EP_PCI          21
5       MP_PCI          21
6    MP_NOHSDP          21
7     MP_AGE65          20
8     MP_AGE17          20
9    MP_DISABL          27
10   MP_SNGPNT          28
11   MP_MINRTY          20
12   MP_LIMENG          20
13    MP_MUNIT          26
14   MP_MOBILE          26
15    MP_CROWD          28
16    MP_NOVEH          28
17   MP_GROUPQ          20
18     EPL_PCI          21
19  SPL_THEME1          21
20  RPL_THEME1          21
21  RPL_THEME2          20
22  RPL_THEME3          20
23  RPL_THEME4          20
24  SPL_THEMES          21
25  RPL_THEMES          21
26       F_PCI          21
27    F_THEME1          21
28    F_THEME2          20
29    F_THEME3          20
30    F_THEME4          20
31     F_TOTAL          21
32  MP_UNINSUR          27
33    E_DAYPOP           3

In [10]:
# Impute missing values in each column
# Continuous variables: impute with the median value of all counties (NOT the median value of each county)
# Categorical variables: impute with 0

col_lst1 = ['E_PCI', 'M_PCI', 'MP_POV', 'MP_UNEMP', 'EP_PCI', 'MP_PCI', 'MP_NOHSDP', 'MP_AGE65', 'MP_AGE17', 
           'MP_DISABL', 'MP_SNGPNT', 'MP_MINRTY','MP_LIMENG', 'MP_MUNIT', 'MP_MOBILE', 'MP_CROWD', 'MP_NOVEH',
           'MP_GROUPQ', 'EPL_PCI', 'SPL_THEME1', 'RPL_THEME1', 'RPL_THEME2', 'RPL_THEME3', 'RPL_THEME4', 
            'SPL_THEMES', 'RPL_THEMES', 'MP_UNINSUR', 'E_DAYPOP']
col_lst2 = ['F_PCI', 'F_THEME1', 'F_THEME2', 'F_THEME3', 'F_THEME4', 'F_TOTAL']


for i in range(len(col_lst1)):
    svi_nc[col_lst1[i]] = svi_nc[col_lst1[i]].replace(-999, svi_nc[col_lst1[i]].median())
    
for j in range(len(col_lst2)):
    svi_nc[col_lst2[j]] = svi_nc[col_lst2[j]].replace(-999, 0)

<ipython-input-10-46ef5b50f81d>:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  svi_nc[col_lst1[i]] = svi_nc[col_lst1[i]].replace(-999, svi_nc[col_lst1[i]].median())
<ipython-input-10-46ef5b50f81d>:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  svi_nc[col_lst2[j]] = svi_nc[col_lst2[j]].replace(-999, 0)

In [11]:
# Check imputation: Outputs should be 0
print(len(svi_nc[svi_nc['E_PCI'] == -999]))
print(len(svi_nc[svi_nc['F_PCI'] == -999]))

0
0